.downloader-main-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.downloader-inner-container{
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
    overflow-y: auto;
    /* background-color: aquamarine; */
}
.download-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-style: solid;
    border-bottom-width: thin;
}